

VITE_OIDC_AUTHORITY='https://ego.axds.co/application/o/asset-docs/'
VITE_OIDC_CLIENT_ID='PLEASE_SET_THIS'
VITE_OIDC_REDIRECT_URI='http://localhost:5173/authed'
VITE_OIDC_POST_LOGOUT_REDIRECT_URI='http://localhost:5173/loggedout'
VITE_OIDC_SCOPE='profile email entitlements'
VITE_APPS_API_BASE_URL='http://localhost:3345'