

VITE_OIDC_AUTHORITY=***REMOVED***https://ego.axds.co/application/o/asset-docs/***REMOVED***
VITE_OIDC_CLIENT_ID=***REMOVED***PLEASE_SET_THIS***REMOVED***
VITE_OIDC_REDIRECT_URI=***REMOVED***http://localhost:5173/authed***REMOVED***
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=***REMOVED***http://localhost:5173/loggedout***REMOVED***
VITE_OIDC_SCOPE=***REMOVED***profile email entitlements***REMOVED***
